/* Setup */
body, html, *{
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Fonts */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h1 {
    font: 1.2rem "Roboto", sans-serif;
}

.container {
    width: 100%;
    margin: 0.3rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* Card */
.card {
    width: 22%;
    height: 20rem;
    margin: 2rem auto;
    padding: 3rem auto;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
  