/* Setup */
body,
html,
* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Fonts */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Body */

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(104, 76, 16, 0.75)),
    url("image/backgroundimage.png");
}

/* Header and Form */

.main-header {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
}

/* .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
} */

.form-container {
  display: flex;
  justify-content: center;
}

.form {
  display: table;
}

form.form-input {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
  font-size: 16px;
}

label {
  color: rgb(255, 255, 255);
  padding-right: 10px;
}

button {
  font-size: 14px;
}
/* Container */

.container {
  width: 100%;
  margin: 0.3rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-image: cover;
}

/* Card */
.card {
  height: 30rem;
  width: 22%;
  margin: 2rem auto;
  padding: 4rem auto;
  border: 3px solid black;
  border-radius: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 150, 4);
  background-image: cover;
}

.card-header {
  margin-top: 1.2rem;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.card-img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

ul {
  list-style-type: none; /* Removes bullet points from list elements */
}

li {
  font-size: 16px;
  font-weight: 400;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .card {
    width: 30%;
  }
}

@media screen and (max-width: 900px) {
  .card {
    width: 40%;
  }
  .card-header {
    font-size: 20px;
  }
}

@media screen and (max-width: 720px) {
  .card {
    width: 45%;
  }
  .main-header {
    font-size: 30px;
  }
  li {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 90%;
  }
}
